*{
    font-family: Dancing Script;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: goldenrod;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #8b0000 0%, #ff007f 100%);    
    overflow: hidden;
}

.card-container {
    perspective: 1000px;
}

.card {
    width: 80vw;
    height: 60vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.message{
    text-transform: capitalize;
}

.front, .inside {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: solid goldenrod;
}

.front {
    background: linear-gradient(135deg, #e32636 0%, maroon 100%);
    color: white;
    font-size: 1em;
    text-align: center;
    border-radius: 50px;
}

.front h1{
    font-size: 1.8em;
}

.inside {
    background: linear-gradient(135deg, #e3085c 0%, red 100%);
    color: white;
    font-weight: 900;
    font-size: 1.1em;
    transform: rotateY(180deg);
    border-radius: 50px;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: goldenrod;
}

.card.open {
    transform: rotateY(180deg);
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background: linear-gradient(135deg, rgb(182, 15, 15) 0%, black 100%);
    height: auto;
    width: 6em;
    font-size: 1.5em;
    border: solid goldenrod;
    transition: background-color 0.3s;
}


.confetti-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.confetti {
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: cover;
    background-image: url(/bee-rose.png);
    opacity: 0.7;
    transform: rotate(15deg);
    animation: confetti-fall linear infinite;
}

@keyframes confetti-fall {
    from {
        top: -10%;
        transform: rotate(-15deg);
    }
    to {
        top: 110%;
        transform: rotate(-45deg);
    }
}

.hearts-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.heart {
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: cover;
    background-image: url(/moon-sun.png);
    opacity: 0.7;
    transform: rotate(-45deg);
    animation: heart-float 5s infinite;
}

@keyframes heart-float {
    from {
        top: 100%;
        transform:  translateX(0);
    }
    to {
        top: -10%;
        transform:  translateX(100px);
    }
}
